<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>

<table border="1">
    <thead class="table">
    <tr>
        <td bgcolor='#C0C0C0' align='center' style='width: 50px;'>
            <b>ID</b>
        </td>
        <td bgcolor='#C0C0C0' align='center' style='width: 150px;'>
            <b>Имя пользователя</b>
        </td>
        <td bgcolor='#C0C0C0' align='center' style='width: 150px;'>
            <b>Возраст</b>
        </td>
        <td bgcolor='#C0C0C0' align='center' style='width: 200px;'>
            <b>Email</b>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr align='center' th:each="user: ${users}">
        <td >  <a align='center' style='width: 50px;' th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">user</a>
        <td align='center' style='width: 150px;' th:text="${user.name}">
        <td  align='center' style='width: 150px;' th:text="${user.age}">
        <td align='center' style='width: 200px;'  th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>
<a href="/users/new">Добавить нового пользователя</a>


</body>
</html>