<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователь</title>
</head>
<body>

<table border="1">
  <thead class="table">
  <tr>
    <td bgcolor='#C0C0C0' align='center' style='width: 50px;'>
      <b>ID</b>
    </td>
    <td bgcolor='#C0C0C0' align='center' style='width: 150px;'>
      <b>Имя пользователя</b>
    </td>
    <td bgcolor='#C0C0C0' align='center' style='width: 150px;'>
      <b>Возраст</b>
    </td>
    <td bgcolor='#C0C0C0' align='center' style='width: 200px;'>
      <b>Email</b>
    </td>
  </tr>
  </thead>

  <tbody>
<tr>
  <td align='center' style='width: 50px;' th:text="${user.getId()}">VALUE</td>
  <td align='center' style='width: 150px;' th:text="${user.getName()}">VALUE</td>
  <td align='center' style='width: 150px;' th:text="${user.getAge()}">VALUE</td>
  <td align='center' style='width: 200px;'th:text="${user.getEmail()}">VALUE</td>
</tr>
  <tbody>
</table>

<br/>
<hr/>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">
  <input type="submit" value="Внести изменения"/>
</a>

<br/>
<br/>

\
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Удалить пользователя"/>
</form>

</body>
</html>